header h1 , article h3,footer{
    text-align: center;
}

header, section,article,footer {
    border:3px solid black;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.sidebar {
}

.art {
    flex-basis:75%;
}

